@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 201 100% 95%;
    --foreground: 201 5% 0%;
    --card: 201 50% 90%;
    --card-foreground: 201 5% 10%;
    --popover: 201 100% 95%;
    --popover-foreground: 201 100% 0%;
    --primary: 201 90% 27.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 163 30% 85%;
    --muted-foreground: 201 5% 35%;
    --accent: 163 30% 80%;
    --accent-foreground: 201 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 201 5% 90%;
    --border: 201 30% 50%;
    --input: 201 30% 18%;
    --ring: 201 90% 27.5%;
    --radius: 0.5rem;
    --hover: 201 65% 35%;
    --hover-foreground: 0 0% 90%;
    --background-secondary: 201 100% 98%;
    --primary-bright: 201 90% 46%;
    --card-footer: 201 50% 74%;
  }

  .dark {
    --background: 201 50% 5%;
    --foreground: 201 5% 90%;
    --card: 201 50% 0%;
    --card-foreground: 201 5% 90%;
    --popover: 201 50% 5%;
    --popover-foreground: 201 5% 90%;
    --primary: 201 90% 27.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 163 30% 15%;
    --muted-foreground: 201 5% 60%;
    --accent: 163 30% 15%;
    --accent-foreground: 201 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 201 5% 90%;
    --border: 201 30% 18%;
    --input: 201 30% 18%;
    --ring: 201 90% 27.5%;
    --radius: 0.5rem;
    --hover: 201 65% 35%;
    --hover-foreground: 0 0% 90%;
    --background-secondary: 201 50% 8%;
    --primary-bright: 201 90% 50%;
    --card-footer: 201 50% 14%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}